{
  "name": "@linid-im-front-community-plugins/<%= name %>",
  "description": "<%= description %>",
  "version": "0.0.1",
  "private": true,
  "dependencies": {
    "vue": "3.5.39",
    "vue-i18n": "11.4.6",
    "vue-router": "5.1.0",
    "quasar": "2.21.1",
    "@linagora/linid-im-front-corelib": "0.0.83",
    "@vueuse/core": "14.3.0"
  }
}
